<div class="container-md">
  <div class="row justify-content-center">
    <div class="col-12">
      <button type="text" class="btn btn-primary">Primary</button
      ><button type="text" class="btn btn-secondary">Secondary</button
      ><button type="text" class="btn btn-third">Third</button
      ><button type="text" class="btn btn-fourth">Fourth</button
      ><button type="text" class="btn btn-fifth">Fifth</button
      ><button type="text" class="btn btn-white">White</button
      ><button type="text" class="btn btn-black">Black</button>
      <button type="text" class="btn btn-light">Light</button>
      <button type="text" class="btn btn-dark">Dark</button>
    </div>
  </div>
</div>
