<footer class="text-white mb-lg-">
  <!-- email -->
  <div class="footer-img pb-36">
    <div class="container-xl h-100 d-flex flex-column justify-content-end">
      <p class="fs-2 mb-22 mb-lg-12">想收到最新消息嗎？ <br />快訂閱我們！</p>
      <form class="footer-email">
        <div class="input-group">
          <input
            class="form-control"
            type="email"
            placeholder="輸入您的電子信箱"
          />
          <button class="btn btn-secondary" type="submit">訂閱</button>
        </div>
      </form>
    </div>
  </div>
  <!-- info -->
  <div class="container-xl">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="row align-items-center gx-lg-16">
          <div class="col-12 col-lg-auto">
            <h3 class="fs-4 py-lg-28">
              <a class="link-black" href="">EXHIBINECTION</a>
            </h3>
          </div>
          <div class="col-12 col-lg-auto">
            <p class="text-fourth">&copy; 2020. All Rights Reserved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-auto d-none d-lg-block">
        <ul class="row gx-32">
          <li class="col-auto"><a class="link-fourth" href="">Sign in</a></li>
          <li class="col-auto"><a class="link-fourth" href="">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
