<div class="header py-28 text-center">
  <div class="container-xl">
    <div class="row row-cols-xl-3">
      <div class="col">
        <!-- empty column : to center "EXHIBINECTION" -->
      </div>
      <div class="col">
        <h1 class="mx-auto">
          <a class="link-primary" href="#">EXHIBINECTION</a>
        </h1>
      </div>
      <div class="col">
        <ul class="row justify-content-end align-items-center">
          <li class="col-auto d-none d-xl-block me-xl-32">
            <a class="link-fourth" href="">Sign in</a>
          </li>
          <li class="col-auto d-none d-xl-block me-xl-32">
            <a class="link-fourth" href="">Sign up</a>
          </li>
          <li class="col-auto">
            <a class="position-relative link-fourth" href="">
              <div class="header-icon material-symbols-outlined">theaters</div>
              <div class="header-icon-number">3</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
